:root {
  --hamburger-menu-bar: #232f3e;
  --amazon-logo-bar: #131921;
  --best-sellers-audible-books-originals: #0f1111;
  --search-button-amazon-logo-bar: #febd68;
  --orange-on-amazon-logo: #ff9900;
  --orange-in-amazon-cart: #f08806;
  --gray-on-dropdown-box-on-amazon-logo-bar: #e6e6e6;
  --gray-in-delivering-to-atlanta: #cccccc;
  --green-for-the-book-titles: #017184;
  --orange-for-the-stars-inside: #ffa41c;
  --orange-for-the-star-border: #e28433;
  --color-on-the-number-of-each-book: #c45500;
  --amazon-best-sellers-banner: #068599;
}

body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

caption {
  font-size: 24px;
}

table {
  width: 300px;
  height: 300px;
  text-align: center;
  border: 5px solid var(--amazon-best-sellers-banner);
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

th,
td {
  border: 3px solid var(--orange-for-the-stars-inside);
  font-weight: bold;
}

td:hover {
  background-color: lightcoral;
  color: white;
}

.display {
  text-align: right;
}

.empty {
  margin-bottom: 20px;
}
